/* 레이아웃 */

#header { background: url(../img/header_bg.jpg) repeat-x center top;}
#nav {background-color: #f6fdff;}


/* 컨테이너 */
.container { width: 1200px; margin: 0 auto;}

/* .header  */
.header {height: 327px; padding: 0 15px;}

.header .header_menu { text-align: right; }
.header .header_menu a {
    color: #fff; padding: 8px 0 6px 10px; display: inline-block; transition: color 0.3s ease;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header .header_menu a:hover {color: #ccc}

.header .header_title {text-align: center; text-transform: uppercase; margin-top: 55px; font-family: 'Abel', sans-serif;}
.header .header_title h1 {
    font-size: 30px; color: #fff; background: #51b0dc; display: inline-block; padding: 5px 30px 5px 30px; letter-spacing: 2px; font-weight: 900;
    transition: box-shadow 0.25s ease-in-out;
}
.header .header_title h1:hover {
    box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac;
}
.header .header_title a { 
    font-size: 16px; color: #fff; background: #4a9abf; display: inline-block; padding: 10px 20px 10px 20px; margin-top: -7px; 
    transition: box-shadow 0.25s ease-in-out;
}
.header .header_title a:hover {
    box-shadow: 0 0 0 5px rgba(75,154,191, 0.9) inset, 0 0 0 100px rgba(0,0,0,0.1) inset;
}
.header .header_icon {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 45px;
}
.header .header_icon ul li { 
    display: inline;
    font-size: 35px;
    margin: 0px 2px;
}

.header .header_icon ul a { 
    background-color: #3192bf;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 65px;
    position: relative;
}
.header .header_icon ul li a span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    font-size: 12px;
    line-height: 1.6;
    background: #3192bf;
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .header_icon ul li a span:before {
    content:  '';
    position: absolute;
    left: 50%; bottom: -5px;
    margin-left: -5px;
    border-top: 5px solid #3192bf;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.header .header_icon ul li a:hover span{
    opacity: 1;
    top: -33px;
        
}

.header .header_icon ul li a:hover{
    box-shadow: 0 0 0 3px rgba(75,154,191,0.9) inset,
    0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* 전체 메뉴 */
.nav { overflow: hidden;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;}
.nav > div ol {overflow: hidden;}
.nav > div li {float: left; width: 50%; position: relative; padding-left: 8px; box-sizing: border-box;}
.nav > div:last-child li {width: 100%;}
.nav > div li::before{
    content: '';
    width: 3px; height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position: absolute; left: 0; top: 6px;
}
.nav > div h3 {font-size: 18px; color: #25a2d0; font-weight: bold; margin-bottom: 4px;}

.nav > div li a{
    position: relative;
}
.nav > div li a::after {
    content: '';
    display: inline-block;
    width: 0%; height: 1px;
    background: #25aad0;
    position: absolute; bottom: 0; left: 0;
    transition: all 0.2s ease-out;
}
.nav > div li:hover a::after{
    width: 100%
}

/* mediaquery */
@media (max-width: 1220px){
    .container {width : 100%}
}